#gitignore
3 Generalitation Abstraction
    private protected public
  Association Abstraction
    relationship rde
ตอบ generalitation เปรียบได้ว่า ในโลกแห่งความเป็นจริงวัตถุทุกชนิด จะแบ่งลักษณะหรือความเป็นอยู่ซึ่งกันและกัน
    โดยเราสามารถจัดกลุ่มของ วุดถุนั้นๆในโลกของความเป็นจริงที่มีคุณสมบัติหรือลักษณะใกล้เคียงกัน ให้อยู่ในคราสเดียวกัน
    ได้ โดยในโลกแห่งนี้ไม่มีสิ่งมีชีวิตไหนที่ private เซลเลยแม้แต่่ชนิ้เดียวคือไม่มีสัตว์ชนิดไหนี่ไม่สามารถรสมกันได้เกิดมา
    เป็นตัวของันคนเดียวไม่สามารถรวมกับอไรได้ และสัตว์บางชนิดก็มีการแปลงสภาพรวมเซลร้ายที่เข้ามานำมาปรับเพื่อให้เกิดเป็น
    protected กับสิ่งนั้นได้
    Association เป็นการแสดงความสัมพันธ์ระหว่าง class ที่มีความสัมพัรธ์กันและไม่สามารถอธิบายด้วย abstraction อื่นๆ
    ได้โดยใน class ที่อนู่ในก association นั้นจะมี relationship มีความสัมพัมธ์ต่อกันอยู่ไม่ว่าจะเป๋น class แม่-ลูก
    class ที่มีความสัมพันธ์คือ มีแม่แสดงว่าจะต้องมีลูก มีอาจารย์ก็จะมีนักเรียนนี่คือรูปแบบของ class ที่อยู่ใน
    Association Abstraction