#gitignore
1. real world object
   object oriented programming
     ตอบ real world object คือ องค์ประกอบที่อยู่บนโลกแห่งความเป็นจริงๆที่เราสามารถนำ
     มาดัดแปลงสิ่งเหล่านั้นให้เป็นข้อมูลแลวนำมาแปลงเป็น code ลงบนโลกของ Internet โดยผ่านการเขียน code ขึ้นมา
     ยกตัวอย่างเกมในโลกปัจจุบันที่มีรูปแบบรูปร่างของตัวละครพื้นที่มจากชีวิตแห่งความเป็นจริงนำข้อมูลต่างๆรูปแบบ
     ต่างๆลงในคอมและประมวลผลรวมข้อมูลทั้งหมดออกมาจึงออกมา
     เป็นเกมให้คนได้เล่น และแน่นอนว่า
     ไม่มีอะไรที่สมบูรณ์แบบไปทุกอย่างเพราะว่าข้อมูลทุกอย่างย่อมมีการคาดเครื่อนหรือมีการ error ขึ้นได้เสมอจึงมีการใช้ภาษา object oriented programming ขึ้นมาโดยภาษา object oriented programming นั้นเป็นภาษาที่สร้างวัตถุที่อิสระต่อกันขึ้นมาในหน่วย
     ความจำของคอมพิวเตอร์แล้วโปรแกรมให้ทำงานสอดคล้องกับการ
     เชียนโปรแกรมมีความใกบ้เคียงกับโลกแห่งความเป็นจริงมาก
     ที่สุดและต้องมีทั้ง2รูปแบบเพื่อช่วยเกื้อหนุนกันให้โปรแกรมออกมาสมบูรณ์ที่สุดเท่าที่จะสามารถทำได้นั้นเอง