#gitignore
4 Encapsulation
  Inheritance
  Polymorphism
  ตอบ Encapsulation เป็นหลักการห่อหุ้มสถานะหรือข้อมูลของ object จากภายนอกให้ไม่สามารถ
    เข้าถึงสสถานะของ object ได้ ดังนั้นการเข้าถึง object ทั้งหมดจะต้องทำการผ่านทาง method
    เท่านั้นโดยความ private นี้จำกัดการเข้าถึงตัว object แต่ class ลูกสามารถเข้่าถึงได้ไม่จำกัด
    การเข้าถึงคนภายนอกเลยสามารถเข้ามาได้แค่ส่วนนี้เท่านั้น
      Inheritance เป็นหลักการสืบทอดคุณสมบัติของ object ซึ่งเป็น class ที่สืบทอกมาจาก
      class อื่นโดยจะได้รับสถานะและพฤติกรรมของ class นั้นทั้งหมดและยังสามารถเปี่ยนพฤติกรรม
      บา method ที่ได้สืบทอดและยังขยายความสามารถเพิ่มเติมได้
      Polymorphism เป็นหลักการที่มีหลายรูปของ object คล้ายๆกับหลักการของชีววิทยาที่สิ่งมีชีวิต
      สามารถมีหบายรูปแบบ หรือหลายสายพันธุ์ ดดย subclass ของ class สามารถกำหนดพฤติกรรม
      ที่เป็นเอกลักษณ์ของตนเองได้และยังแชร์บางส่วนของฟังก์ชั่นการทำงานเดียวกันกับ superclass